<div class="card">
    <img [src]="confirmBookingImageSource" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Confirm Booking</h2>
      <h4>To search for a taxi</h4>
     </div>
     <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6>From: Kottawa</h6>
      </li>
      <li class="list-group-item"><h6>To: Moratuwa</h6></li>
      <li class="list-group-item"><h6>Your Payement: $50</h6> </li>
    </ul>
    <ul class="list-group list-group-flush">
     <li class="list-group-item"><button><span>Proceed with the Booking </span></button></li>
      <li class="list-group-item"><button class="cancelBtn"><span>Cancel Booking</span></button></li>
    </ul> 
  </div>