<div class="card">
    <video [src]="videoSource" class="card-img-top" alt="vedio" autoplay class="custom-video"></video>
    <div class="card-body">
      <h2 class="card-title"> Congratulations! Your payment is successful. </h2>
     </div>
    <ul class="list-group list-group-flush">
     <li class="list-group-item"><h6> Thank you for choosing our taxi booking service. </h6></li>
     <li class="list-group-item"><h5>Rate the journey with your Rider </h5></li>
     <li class="list-group-item"><button><span>Ratings & Reviews</span></button></li>
      <li class="list-group-item"><button><span>Book Another Taxi</span></button></li>
    </ul>
    
  </div>