<div class="card">
    <img [src]="ImageSource" class="card-img-top" alt="vehicle image">
    <div class="card-body">
      <h2 class="card-title">Waiting for your Taxi</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6> From: Kottawa</h6>
        </li>
        <li class="list-group-item">
          <h6>To: Moratuwa</h6>
        </li>
        <li class="list-group-item">
          <h6>Your Payment: $50</h6>
        </li>
      </ul>
    </div>
    <button class="cancelBtn" routerLink="/origin" routerLinkActive="active"> Cancel</button>
  </div>