<app-nav-bar></app-nav-bar>
<div class="row mt-5 justify-content-center Request">
    <div class="card col ms-5 me-5 Req-body">
        <h1>Your Transport Service Provider</h1>
        <div class="card-body">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit in cupiditate recusandae sequi asperiores
                quibusdam, itaque expedita distinctio qui tempore aliquam adipisci temporibus consectetur facere dicta
                odio quisquam debitis ad.</p>
                <button type="button" class="btn btn-dark">Request to Ride</button>
        </div>
    </div>
    <div class="card col me-0 body-img">
        <div class="card-body">
            <img src="../../assets/taxiHome.jpg" alt="" style="width: 500px;">
        </div>
    </div>
</div>
