<div>
  <div class="container">
    <div class="content">

<div class="card">
    <img [src]="paymentImageSource" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Choose Your Payment Method</h2>
     </div>
    <ul class="list-group list-group-flush">
     <li class="list-group-item"><button routerLink="/cash" routerLinkActive="active" ><span>Cash</span></button></li>
      <li class="list-group-item"><button onclick="location.href='https://buy.stripe.com/test_00g6rsbcdbDM3ZuaEE'" target="_blank" rel="noopener noreferrer"><span>Card Payment</span></button></li>
      <li class="list-group-item"><button class="/origin" routerLinkActive="active"><span>Cancel</span></button></li>
    </ul>
    
  </div>
</div>
<div class="main">
  <h1>You Can Use To Pay  
    <div class="roller">
    <span id="rolltext">Visa Card<br/>
    Master Card<br/>
    American Express<br/>
    Cash</span><br/>
</div>
    </h1>
    
  </div>
</div>
</div>