<!-- <div>
    <div class="container">
        <div class="content">

            <div class="bodyClass">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Enter your card details.</h2>
                    </div>
                    <div class="innerCard">
                        <h5>Payment Details</h5>
                        <hr />
                        <div class="card-body">
                            <form [formGroup]="formpay" (ngSubmit)="submit()">

                                <table>
                                    <tr class="detail form-group">
                                        <td><label>Card Type</label></td>
                                        <td class="radioBtn">
                                            <input type="radio" id="visa" value="visa" name="cardType" />
                                            <label for="visa">Visa</label>
                                        </td>
                                        <td class="radioBtn">
                                            <input type="radio" id="master" value="master" name="cardType" /><label
                                                for="master">Master</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="cr_no">Card Number</label></td>
                                        <td class="form-group">
                                            <input type="number" required="required" formControlName="cardnum"
                                                class="form-control" name="cardno" id="cr_no" pattern="[1-9]*" size="16"
                                                maxlength="16" min="0" max="9" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="exp">Expiration</label></td>
                                        <td class="form-group">
                                            <input type="date" required="required" class="form-control"
                                                formControlName="exp" name="exp" id="exp" placeholder="MM/YY" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="cvn">CVN</label></td>
                                        <td class="form-group">
                                            <input type="password" required="required" class="form-control"
                                                formControlName="cvn" name="cvcpwd" id="cvn" class="placeicon" size="3"
                                                maxlength="3" min="0" max="9" />
                                        </td>
                                    </tr>
                                </table>


                            </form>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush form-group">
                        <table>
                            <tr>
                                <td>
                                    <li class="list-group-item"><button routerLink="/method"
                                            class="cancelBtn"><span>Cancel</span></button></li>
                                </td>
                                <td>
                                    <!-- [disabled]="!formpay.valid" -->
                                    <!-- <li class="list-group-item"><button type="submit" routerLink="/cash"
                                            routerLinkActive="active"
                                            class="payBtn form-group"><span>Pay</span></button></li>
                                </td>
                            </tr>
                        </table>
                    </ul>

                </div>
            </div>
        </div>
        <div>
            <video class="video-container" src="assets\security cardpayemnt.mp4" autoplay loop></video>
            <p>Your Details are Safe With Us
            <p>
        </div>
    </div>
</div> --> -->
